@using Articulate
@using Articulate.Models
@using Umbraco.Core
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Articulate.Models.PostModel>

@*This partial accepts view data parameters to modify how it is displayed - IsListView, HideAuthorCitation*@

<div class="box-inner post xfolkentry">

    <h1><a class="postheader taggedlink" href="@Model.Url">@Model.Name</a></h1>

    <div class="descr">
        @Html.AuthorCitation(Model)
        <span>@Model.PublishedDate.ToString("MMMM d, yyyy HH:mm")</span>
    </div>
        
    @if (!Model.CroppedPostImageUrl.IsNullOrWhiteSpace())
    {
        <img class="postImage" alt="@Model.Name" src="@Model.CroppedPostImageUrl" />
    }

    @Html.ThemedPartial(Model, "Sharing")

    <div class="postcontent">        
        @Model.Body
    </div>

    <div class="postfooter box-inner">
        Tags:
        @Html.ListTags(Model,
            @<a href="@Url.ArticulateTagUrl(Model, @item)">@item</a>)
        <br />
        Categories:
        @Html.ListCategories(Model,
            @<a href="@Url.ArticulateCategoryUrl(Model, @item)">@item</a>, " | ")
        <br />
        <img id="Img4" alt="comment" src="@Url.ThemedAsset(Model, "img/comments.gif")" />
        <a rel="nofollow" href="@Model.Url#disqus_thread" data-disqus-identifier="@Model.GetContentKey()"></a>
    </div>
       
    @if ((ViewBag.IsListView == null || ViewBag.IsListView == false) && Model.EnableComments)
    {
        <br/>
        @Html.ThemedPartial(Model, "CommentsDisqus")
        @*@Html.ThemedPartial(Model, "CommentsGooglePlus")*@
        @*@Html.ThemedPartial(Model, "CommentsFacebook")*@
    }
</div>
