@using Articulate
@using Articulate.Models
@using Umbraco.Core
@using Umbraco.Web
@model Articulate.Models.AuthorModel
@{
    Layout = "Master.cshtml";
}

@section Header
{
    @Html.AuthorRssFeed(Model, Url)
}

<main class="content" role="main">

    
    <article class="post">

        <header>
            <h1 class="post-title">@Model.Name</h1>            
        </header>
        <section class="post-content">
            @if (!Model.Image.IsNullOrWhiteSpace())
            {
                <img class="postImage" src="@Model.Image" />
            }
            <p>@Model.Bio</p>
            @if (!Model.AuthorUrl.IsNullOrWhiteSpace())
            {
                <p>Website: <a href="@Model.AuthorUrl">@Model.AuthorUrl</a>
                </p>
            }
            
        </section>
        
        <hr />
    </article>
    
    @if (Model.PostCount == 0)
    {
        <article>No blog posts found</article>
    }
    else
    {
        foreach (var post in Model.Posts)
        {
            <article class="preview">
                <header>
                    <h1 class="post-title"><a href="@post.Url">@post.Name</a></h1>
                    <div class="post-meta">
                        <time datetime="@post.PublishedDate.ToString("yyyy-MM-dd")">
                            @post.PublishedDate.ToString("dddd, MMMM dd, yyyy")
                        </time>
                    </div>
                </header>
                <section class="post-excerpt">
                    @if (!post.PostImageUrl.IsNullOrWhiteSpace())
                    {
                        var thumbnail = post.GetCropUrl("postImage", "thumbnail");
                        if (!thumbnail.IsNullOrWhiteSpace())
                        {
                            <img class="thumb" src="@thumbnail" alt="@post.Name" />
                        }
                    }
                    <p>
                        @post.Excerpt&hellip;
                    </p>
                    <p class="readmore">
                        <a href="@post.Url">Read this article <i class="fa fa-chevron-circle-right"></i></a>
                    </p>
                </section>
            </article>
        }

        @Html.ThemedPartial(Model, "Pager", Model.Pages)
    }

</main>
