@using Articulate
@using Articulate.Models
@using Umbraco.Core
@using Umbraco.Web
@model Articulate.Models.AuthorListModel
@{
    Layout = "Master.cshtml";
}

<main class="content" role="main">

    @foreach (var author in Model.Authors)
    {
        <article class="post">

            <header>
                
                <h1 class="post-title">
                    @*<a href="@Url.ArticulateAuthorRssUrl(author)" class="fa fa-rss"><span>RSS</span></a>*@
                    <a href="@author.Url">@author.Name</a>
                </h1>
            </header>
            <section class="post-content">
                @if (!author.Image.IsNullOrWhiteSpace())
                {
                    <a href="@author.Url"><img class="postImage" src="@author.Image" /></a>
                }
                <p>@author.Bio</p>
                @if (!author.AuthorUrl.IsNullOrWhiteSpace())
                {
                    <p>
                        Website: <a href="@author.AuthorUrl">@author.AuthorUrl</a>
                    </p>
                }

            </section>

            <hr />
        </article>
    }
   

</main>
