@using Articulate
@using Articulate.Models
@using ClientDependency.Core.Mvc
@using Umbraco.Core
@using Umbraco.Web
@using Umbraco.Web.Models
@model Articulate.Models.ListModel
@{
    Layout = "Master.cshtml";
}

<main class="content" role="main">

    @if (!Model.Children.Any())
    {
        <article>No blog posts found</article>
    }
    else
    {
        foreach (var post in Model.Posts)
        {
            <article class="preview">
                <header>
                    <h1 class="post-title"><a href="@post.Url">@post.Name</a></h1>
                    <div class="post-meta">
                        <time datetime="@post.PublishedDate.ToString("yyyy-MM-dd")">
                            @post.PublishedDate.ToString("dddd, MMMM dd, yyyy")
                        </time>
                    </div>
                </header>
                <section class="post-excerpt">
                    @if (post.PostImage != null)
                    {
                        var thumbnail = Url.GetCropUrl(post.PostImage, cropAlias: "blogPost", useCropDimensions: true, htmlEncode: false, upScale: false);
                        if (thumbnail != null)
                        {
                            <div class="postthumb" style="background: url(@thumbnail)"></div>
                        }
                    }
                    <p>
                        @post.Excerpt&hellip;
                    </p>
                    <p class="readmore">
                        <a href="@post.Url">Read this article <i class="fa fa-chevron-circle-right"></i></a>
                    </p>
                </section>

            </article>
        }

        @Html.ThemedPartial(Model, "Pager", Model.Pages)
        
    }

</main>
