@using Articulate
@using Articulate.Models
@using Umbraco.Core
@using Umbraco.Web
@model Articulate.Models.TagListModel
@{
    Layout = "Master.cshtml";
    var asArray = Model.Tags.ToArray();
}

<main class="content" role="main">

    <article>
        <h1>@Model.Name</h1>
        
        @if (ViewContext.RouteData.Values["action"].ToString().Equals("Tags", StringComparison.OrdinalIgnoreCase))
        {
            <div class="tag-cloud-large">
                @Html.TagCloud(Model.Tags, @<a href="#tag-@item.TagName">@item.TagName</a>, 5, 50)
            </div>
        }
        else
        {
            <ul>
                @for (var i = 0; i < asArray.Length; i++)
                {
                    <li>
                        <a href="#tag-@asArray[i].TagName">@asArray[i].TagName</a> - (@asArray[i].PostCount)
                    </li>
                }
            </ul>
        }

        <hr />

        <div class="tag-list">
            @for (var i = 0; i < asArray.Length; i++)
            {
                <h2>
                    <a href="@Url.ArticulateTagRssUrl(asArray[i])" class="fa fa-rss"><span>RSS</span></a>
                    <a id="tag-@asArray[i].TagName" href="@asArray[i].TagUrl">@asArray[i].TagName</a>
                </h2>

                @Html.Table(
                        asArray[i].Posts.OrderByDescending(x => x.PublishedDate),
                        new[] { "Date", "Name" },
                        new string[]{},
                        @<span>@item.PublishedDate.ToString("yyyy-MM-dd")</span>,
                @<a href="@item.Url">@item.Name</a>)
            }
        </div>


    </article>

</main>
