@using System.Text
@using Articulate
@using Articulate.Models
@using Umbraco.Core
@using Umbraco.Core.Cache;
@using Umbraco.Core.Security
@using Umbraco.Web
@using Umbraco.Web.Models
@inherits UmbracoViewPage<Articulate.Models.ListModel>
@{
    Layout = "Master.cshtml";
    ViewBag.CssWrapperClass = Model.DocumentTypeAlias == "ArticulateArchive" ? null : "demo-blog--blogpost";
}

<div class="demo-back">
    <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="@Model.RootBlogNode.Url" title="go back" role="button">
        <i class="material-icons" role="presentation">arrow_back</i>
    </a>
</div>
<div class="demo-blog__posts mdl-grid">

    @if (!Model.Children.Any())
    {
        <div class="mdl-card mdl-cell mdl-cell--12-col comments">

            @Html.ThemedPartial(Model, "SearchBox")

            @if (!Request.QueryString["term"].IsNullOrWhiteSpace())
            {
                <div class="mdl-card__media mdl-color-text--grey-50">
                    <h3>No blog posts found</h3>
                </div>
            }
        </div>
    }
    else
    {
        var doneFirst = false;
        foreach (var post in Model.Posts)
        {
            if (!doneFirst && Model.DocumentTypeAlias == "ArticulateArchive")
            {
                doneFirst = true;

                <div class="mdl-card mdl-cell mdl-cell--8-col">
                    @PostInfo(post, false)
                </div>

                @Html.ThemedPartial(Model, "TitleTile")
            }
            else
            {
                <div class="mdl-card mdl-cell mdl-cell--12-col">
                    @PostInfo(post)
                </div>                
            }
        }

        @Html.ThemedPartial(Model, "Pager", Model.Pages)
    }


</div>






@helper PostInfo(PostModel post, bool withExcerpt = true)
{
    @Html.ThemedPartial(Model, "PostImageHeader", post)

    if (withExcerpt)
    {
        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
            @post.Excerpt&hellip;
        </div>
    }


    <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
        @Html.ThemedPartial(Model, "AuthorInfo", post)
    </div>
}