@using Articulate
@using Articulate.Models
@using Umbraco.Core
@using Umbraco.Core.Security
@using Umbraco.Web
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Articulate.Models.TagListModel>
@{
    Layout = "Master.cshtml";
    ViewBag.CssWrapperClass = "demo-blog--blogpost";
    var asArray = Model.Tags.ToArray();
}

<div class="demo-back">
    <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="@Model.RootBlogNode.Url" title="go back" role="button">
        <i class="material-icons" role="presentation">arrow_back</i>
    </a>
</div>

<div class="demo-blog__posts mdl-grid">

    <div class="mdl-card mdl-cell mdl-cell--8-col">
        <div class="mdl-card__title mdl-color-text--grey-50">
            <h1 class="mdl-card__title-text">@Model.Name</h1>
        </div>
        <div class="mdl-card__supporting-text">
            <ul>
                @for (var i = 0; i < asArray.Length; i++)
                {
                    <li>
                        <a href="#tag-@i">@asArray[i].TagName</a> - (@asArray[i].PostCount)
                    </li>
                }
            </ul>
        </div>
        <div class="mdl-card__menu">
        </div>
    </div>

    @Html.ThemedPartial(Model, "TitleTile")

    @for (var i = 0; i < asArray.Length; i++)
    {
        <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__title mdl-color-text--primary mdl-color--accent-contrast">     
                <h4 class="mdl-card__title-text">
                    <a href="@Url.ArticulateTagRssUrl(asArray[i])" class="fa fa-rss"><span>RSS</span></a>
                    <a id="tag-@i" href="@asArray[i].TagUrl">@asArray[i].TagName</a>
                </h4>
            </div> 
            <div class="mdl-card__supporting-text">
                @Html.Table(
                    asArray[i].Posts.OrderByDescending(x => x.PublishedDate),
                    new {@class = "mdl-data-table mdl-js-data-table full-box-width"},
                    new[] {"Date", "Name", ""},
                    new string[] {"mdl-data-table__cell--non-numeric date", "mdl-data-table__cell--non-numeric", "mdl-data-table__cell--non-numeric" },
                    @<span>@item.PublishedDate.ToString("yyyy-MM-dd")</span>,
                    @<a href="@item.Url">@item.Name</a>,
                    @<a href="@item.Url#disqus_thread" data-disqus-identifier="@item.GetContentKey()"></a>)
            </div>
            <div class="mdl-card__menu">
                <a href="@Url.ArticulateTagRssUrl(asArray[i])" title="RSS Feed" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-color--primary mdl-color-text--grey-50">
                    <i class="material-icons">local_library</i>
                </a>
            </div>
        </div>
    }



</div>
