@using Articulate
@model Articulate.Models.IMasterModel

<ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="menubtn">
    <li class="mdl-menu__item"><a href="@Url.ArticulateCategoriesUrl(Model)">Archive</a></li>
    <li class="mdl-menu__item"><a href="@Url.ArticulateTagsUrl(Model)">Tags</a></li>
    <li class="mdl-menu__item"><a href="@Url.ArticulateSearchUrl(Model)">Search</a></li>
</ul>
<button id="menubtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
    <i class="material-icons" role="presentation">more_vert</i>
    <span class="visuallyhidden">show menu</span>
</button>

@*<nav class="menu" role="nav">
    <ul>
        <li><a href="@Url.ArticulateCategoriesUrl(Model)">Archive</a></li>
        <li><a href="@Url.ArticulateTagsUrl(Model)">Tags</a></li>
        <li>
            @Html.ThemedPartial(Model, "SearchBox")
        </li>
    </ul>
</nav>*@