@using Articulate
@using Articulate.Models
@using Umbraco.Core
@using Umbraco.Web
@inherits UmbracoViewPage<Articulate.Models.TagListModel>
@{
    Layout = "Master.cshtml";
    var asArray = Model.Tags.ToArray();
}

<div class="row">
    <div class="col-s-9">

        <div class="row main">
            <div class="mainContent box">
                <div id="archive">

                    <h1>@Model.Name</h1>

                    <ul class="no-bullets">
                        @for (var i = 0; i < asArray.Length; i++)
                        {
                            <li>
                                <a href="#tag-@i">@asArray[i].TagName</a> - (@asArray[i].PostCount)
                            </li>
                        }
                    </ul>


                    @for (var i = 0; i < asArray.Length; i++)
                    {

                        <h2>
                            <a href="@Url.ArticulateTagRssUrl(asArray[i])" class="fa fa-rss"><span>RSS</span></a>
                            <a id="tag-@i" href="@asArray[i].TagUrl">@asArray[i].TagName</a>
                        </h2>

                        @Html.Table(
                        asArray[i].Posts.OrderByDescending(x => x.PublishedDate),
                        new[] { "Date", "Name", "" },
                        new[] { "date", "title", "comments" },
                        @<span>@item.PublishedDate.ToString("yyyy-MM-dd")</span>,
                        @<a href="@item.Url">@item.Name</a>,
                        @<a href="@item.Url#disqus_thread" data-disqus-identifier="@item.GetContentKey()"></a>)

                    }
                </div>
            </div>
        </div>

    </div>

    @Html.ThemedPartial(Model, "SideWidgets")
</div>