@using ClientDependency.Core.Mvc
@using Articulate;
@model Articulate.Models.IMasterModel

<!DOCTYPE html>
<html>
<head>

    <link rel="icon" type="image/png" href="@Url.ThemedAsset(Model, "img/favicon.ico")" />

    @if (IsSectionDefined("title"))
    {
        @RenderSection("title")
    }
    else
    {
        <title>@Model.Name - @Model.BlogTitle</title>
    }

    <meta name="description" content="@Model.BlogDescription" />
    @Html.AdvertiseWeblogApi(Model)
    @Html.RssFeed(Model)
    

    @{ Html
           .RequiresJs("http://ajax.microsoft.com/ajax/jQuery/jquery-1.3.2.min.js")            
           .RequiresCss("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
           .RequiresCss("http://fonts.googleapis.com/css?family=Roboto:400,300,100,500")       
           .RequiresThemedCssFolder(Model)
            //This loads all JS found in the current theme's js folder: /Assets/js
           .RequiresThemedJsFolder(Model);
    }

    @Html.RenderCssHere()

</head>
<body>

    <!--[if lte IE 7]>
    <div class="old-ie">
    <![endif]-->

    <div class="container">

        @Html.ThemedPartial(Model, "Menu")

        @Html.ThemedPartial(Model, "SearchBox")

        <div class="header">
            <div class="title">
                <h1>
                    <a href="@Url.ArticulateRootUrl(Model)">@Model.BlogTitle</a>
                </h1>
                <div class="subTitle">
                    @Model.BlogDescription
                </div>
            </div>

            @Html.ThemedPartial(Model, "Follow")

        </div>
        <div class="main">

            <div class="mainContent box">

                @RenderBody()

            </div>

            <!-- adsense
                <div class="sidead">
                    <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:250px;height:250px"
                         data-ad-client="ca-pub-7680168625827600"
                         data-ad-slot="2233356972"></ins>
                    <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                </div>
                -->

            <div class="sidenav box">
                <div class="widgetzone">
                    @Html.ThemedPartial(Model, "Categories")
                    @Html.ThemedPartial(Model, "Recent")
                    @Html.ThemedPartial(Model, "TagCloud")
                </div>
            </div>

            <div class="clearer">
                <span></span>
            </div>

        </div>
        <div id="footer">
            <div class="copy">&copy; <b>@Model.BlogTitle</b>&nbsp;@DateTime.Now.Year</div>
        </div>
    </div>

    <!--[if lte IE 8]>
    </div>
    <![endif]-->
    @Html.RenderJsHere()

    @*HACK! - this should clearly just be in a js file *@
    @Html.ThemedPartial(Model, "MainScriptBlock")

    <!-- G+ button -->
    <script type="text/javascript">
        (function () {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>

    @Html.GoogleAnalyticsTracking(Model)
</body>
</html>
