@using ClientDependency.Core.Mvc
@using Articulate;
@model Articulate.Models.IMasterModel

<!DOCTYPE html>
<html>
<head>

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    @*
        IE10 Mobile ignores the meta viewport tag.
        This fix needs to be in the head.
    *@
    <script src="@Url.ThemedAsset(Model, "js/responsive.ie10mobilefix.min.js")"></script>

    <link rel="icon" type="image/png" href="@Url.ThemedAsset(Model, "img/favicon.ico")" />

    @if (IsSectionDefined("title"))
    {
        @RenderSection("title")
    }
    else
    {
        <title>@Model.Name - @Model.BlogTitle</title>
    }

    <meta name="description" content="@Model.BlogDescription" />
    @Html.AdvertiseWeblogApi(Model)
    @Html.RssFeed(Model)


    @{ Html
           .RequiresJs("http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js")
           .RequiresJs("http://cdn.jsdelivr.net/qtip2/2.2.0/basic/jquery.qtip.min.js")
           .RequiresCss("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
           .RequiresCss("http://fonts.googleapis.com/css?family=Roboto:400,300,100,500")
           .RequiresCss("http://cdn.jsdelivr.net/qtip2/2.2.0/basic/jquery.qtip.min.css")
         //This loads all Css found in the current theme's js folder: /Assets/js
           .RequiresThemedCssFolder(Model)
         //This loads all JS found in the current theme's js folder: /Assets/js
           .RequiresThemedJsFolder(Model);
    }

    @Html.RenderCssHere()

</head>
<body>
    
    <div class="container">

        <div class="row topNav">
            <div class="col-s-9">
                @Html.ThemedPartial(Model, "Menu")
                @*@Html.ThemedPartial(Model, "SearchBox")*@
                
            </div>
            <div class="col-s-3">

            </div>
        </div>

        <div class="row">
            <div class="col-s-12">

                <div class="header">
                    <div class="title">
                        <h1>
                            <a href="@Url.ArticulateRootUrl(Model)">@Model.BlogTitle</a>
                        </h1>
                        <div class="subTitle">
                            @Model.BlogDescription
                        </div>
                    </div>

                    @*@Html.ThemedPartial(Model, "Follow")*@

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-s-9">

                <div class="main">
                    <div class="mainContent box">
                        @RenderBody()
                    </div>
                </div>

            </div>
            <div class="col-s-3">
                <div class="sidenav box">
                    <div class="widgetzone">
                        @Html.ThemedPartial(Model, "Categories")
                        @Html.ThemedPartial(Model, "Recent")
                        @Html.ThemedPartial(Model, "TagCloud")
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-s-12">
                <div id="footer">
                    <div class="copy">&copy; <b>@Model.BlogTitle</b>&nbsp;@DateTime.Now.Year</div>
                </div>
            </div>
        </div>
    </div>

    @Html.RenderJsHere()

    @*Some additional JS scripts that need to execute*@
    @Html.ThemedPartial(Model, "MainScriptBlock")

    @*Used to display comment counts for each article*@
    <script type="text/javascript">
        var disqus_shortname = '@Model.DisqusShortName';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
    @Html.GoogleAnalyticsTracking(Model)

</body>
</html>
