@using Articulate
@using Umbraco.Core
@model Articulate.Models.AuthorModel
@{
    Layout = "Master.cshtml";
    ViewBag.CssBodyClass = "post-template";
}

@section Header
{
    @Html.AuthorRssFeed(Model, Url)
}

<div class="row">
    <div class="col-s-9">

        <div class="row main">
            <div class="mainContent box">
                <div class="box-inner xfolkentry">
                    <h1>@Model.Name</h1>
                    @if (!Model.Image.IsNullOrWhiteSpace())
                    {
                        <img src="@Model.Image" />
                    }

                    <p>@Model.Bio</p>                    

                    @if (!Model.AuthorUrl.IsNullOrWhiteSpace())
                    {
                        <p>Website: <a href="@Model.AuthorUrl">@Model.AuthorUrl</a></p>    
                    }
                    
                    <hr />

                    <p>
                        Total posts: @Model.PostCount
                        <br />
                        Last post: @(Model.LastPostDate.HasValue ? Model.LastPostDate.Value.ToString("MMMM d, yyyy HH:mm") : "n/a")
                    </p>

                                        
                    
                </div>
                
                <div class="mainContent box small">
                    <div class="posts" role="main">

                        @if (Model.PostCount == 0)
                        {
                            <div class="box-inner xfolkentry">No blog posts found</div>
                        }
                        else
                        {
                            foreach (var post in Model.Posts)
                            {
                                @Html.ThemedPartial(Model, "Post", post, new ViewDataDictionary { { "IsListView", true }, { "HideAuthorCitation", true } })
                            }

                            @Html.ThemedPartial(Model, "Pager", Model.Pages)
                        }

                    </div>
                </div>

            </div>
        </div>

    </div>

    @Html.ThemedPartial(Model, "SideWidgets")
</div>