@using ClientDependency.Core.Mvc
@using Articulate;
@model Articulate.Models.IMasterModel

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>@Model.PageTitle</title>
    @Html.MetaTags(Model)
    @Html.SocialMetaTags(Model)
    @Html.AdvertiseWeblogApi(Model)
    @Html.RssFeed(Model)
    @Html.RenderOpenSearch(Model)
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow">
    
    @{ Html
           .RequiresThemedCssFolder(Model)
           .RequiresThemedJsFolder(Model);
    }

    @Html.RenderCssHere()
    
</head>
<body>
    @RenderBody()

    <footer>        
        <p class="footer2">Design by <a href="http://ivanbarcia.eu">Ivn Barcia</a></p>
    </footer>
    
    @Html.RenderJsHere()
    @Html.GoogleAnalyticsTracking(Model)
</body>
</html>
