@using Articulate
@using Umbraco.Core
@model Articulate.Models.PostModel
@{
    Layout = "Master.cshtml";
    ViewBag.CssBodyClass = "post-template tag-sublime tag-javascript";
}

@Html.ThemedPartial(Model, "Header")
<main>
    
    <article>
        <small class="fecha">
            @Html.AuthorCitation(Model)<span>@Model.PublishedDate.ToString("dddd, dd MMMM, yyyy")</span>
        </small>
        <a class="title" href="@Model.Url">
            <h1 class="titulo-articulo">@Model.Name</h1>
        </a>

        <h2 class="subtitulo-articulo">@Model.Excerpt</h2>
        @if (!Model.CroppedPostImageUrl.IsNullOrWhiteSpace())
        {
            <div class="postImageWrapper">
                <img class="postImage" alt="@Model.Name" src="@Model.CroppedPostImageUrl" />    
            </div>
        }
        <div class="texto">            
            @Model.Body
        </div>
    </article>

</main>