@using Articulate
@model Articulate.Models.PostModel

@if (Model.Tags.Any() || Model.Categories.Any())
{
    <div class="post-meta tags">

        @if (Model.Categories.Any())
        {
            <div>
                Categories

                @foreach (var category in Model.Categories)
                {
                    <a href="@Url.ArticulateCategoryUrl(Model, category)">@category</a>
                    if (category != Model.Categories.Last())
                    {
                        <span>, </span>
                    }
                }
            </div>
        }

        @if (Model.Tags.Any())
        {
            <div>
                Posted in

                @Html.ListTags(Model,
                    @<a href="@Url.ArticulateTagUrl(Model, @item)">@item</a>)

            </div>
        }
    </div>
}