@using Articulate

@model global::Articulate.Models.PostModel
@{
    Layout = "Master.cshtml";
    ViewBag.CssBodyClass = "post-template tag-sublime tag-javascript";
}

@section header
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css" integrity="sha512-tN7Ec6zAFaVSG3TpNAKtk4DOHNpSwKHxxrsiw4GHKESGPs5njn/0sMCUMl2svV4wo4BK/rCP7juYz+zx+l6oeQ==" crossorigin="anonymous" />
}

<article class="post tag-ghost-tag">

    <span class="post-meta">
        @Html.AuthorCitation(Model)
        <time datetime="@Model.PublishedDate.ToString("yyyy-MM-dd")">@Model.PublishedDate.ToString("dddd, MMMM dd, yyyy")</time>
        @await Html.ThemedPartialAsync(Model, "PostTags")
    </span>

    <h1 class="post-title">@Model.Name</h1>

    <section class="post-content">
        @if (!string.IsNullOrWhiteSpace(Model.CroppedPostImageUrl))
        {
            <img class="postImage" alt="@Model.Name" src="@Model.CroppedPostImageUrl" />
        }
        @Model.Body
    </section>

    <footer class="post-footer">
        @if (Model.EnableComments)
        {
            @await Html.ThemedPartialAsync(Model, "CommentsDisqus")
        }
    </footer>

</article>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/components/prism-core.min.js" integrity="sha512-xR+IAyN+t9EBIOOJw5m83FTVMDsPd63IhJ3ElP4gmfUFnQlX9+eWGLp3P4t3gIjpo2Z1JzqtW/5cjgn+oru3yQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/plugins/autoloader/prism-autoloader.min.js" integrity="sha512-zc7WDnCM3aom2EziyDIRAtQg1mVXLdILE09Bo+aE1xk0AM2c2cVLfSW9NrxE5tKTX44WBY0Z2HClZ05ur9vB6A==" crossorigin="anonymous"></script>
