@using ClientDependency.Core.Mvc
@using Articulate;
@model Articulate.Models.IMasterModel

<!doctype html>

<!--[if IE 7 ]><html class="no-js ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if IE 9 ]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="de">
<!--<![endif]-->

<head>

    <meta charset="utf-8">

    <title>@Model.PageTitle</title>
    @Html.MetaTags(Model)
    @Html.SocialMetaTags(Model)
    @Html.AdvertiseWeblogApi(Model)
    @Html.RssFeed(Model)
    @Html.RenderOpenSearch(Model)
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if IE]>
    <meta http-equiv="imagetoolbar" content="no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    @{ Html
           .RequiresCss("https://fonts.googleapis.com/css?family=Raleway:200")
           .RequiresCss("https://fonts.googleapis.com/css?family=Open+Sans:300")
           .RequiresCss("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
           .RequiresJs("https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
           .RequiresThemedCssFolder(Model);           
    }

    @Html.RenderCssHere()

</head>

<body class="@ViewBag.CssBodyClass">

    @RenderBody()

    @Html.RenderJsHere()

    @Html.GoogleAnalyticsTracking(Model)
</body>

</html>